<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bantalabz.perkl</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Perkl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.713143327472-qsgbukb7mu9iqkpgkhqts5c0n8to4uqs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We don't really use this, but its required for our audio libraries.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We don't really use your calendar, but one of our libraries requires it.</string>
	<key>NSCameraUsageDescription</key>
	<string>We use this to allow you to take a new profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>We use this info to connect you with your contacts who have the app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We don't actually use any location data, this is required for one of our libraries.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We don't actually use any location data, this is required for one of our libraries.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This sample uses the microphone to record your speech and convert it to text.</string>
	<key>NSMotionUsageDescription</key>
	<string>We also don't use this data, but one of our libraries requires it.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use this to allow you to select a profile picture from your photo library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use this to allow you to use our app hands-free.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
